{% extends "layout.html" %}

{% block title %}Page 2: Ask for your favorite color{% endblock %}

{% block content %}
	<div class="container mt-3">
	
	
	<form action ={{ url_for("renderPage3") }} method="POST">
		
		
		

	
			<h2>Where do the characters work in the show?</h2>
		  
			<label for="browser" class="form-label">Choose your answer from the list</label>
			<input class="form-control" list="firms" name="firm" id="firm">
			<datalist id="firms">
			  <option value="Rand Kaldor Zane">
			  <option value="Pearson Hardman">
			  <option value="Gordon Schmidt Van Dyke">
			  <option value="Smith and Devane">
			  
			  
			</datalist>    
			    
	
			<button type="submit" class="btn btn-primary mt-3">Submit</button>
		  </form>
		</div>
{% endblock %}