{% extends "layout.html" %}

{% block title %}Page 1{% endblock %}

{% block content %}
	<div class="container mt-3">
		<div class="progress">
				<div class="progress-bar" style="width:0%"></div>
		</div>
	<br>
	
	<form action ={{ url_for("renderPage2") }} method="POST">
		
		
		

	
	  <h2>What year did the TV Show 'Suits' premier?</h2>
		  
			<label for="browser" class="form-label">Choose your answer from the list</label>
			<input class="form-control" list="years" name="year" id="year">
			<datalist id="years">
			  <option value="2009">
			  <option value="2010">
			  <option value="2011">
			  <option value="2012">
			</datalist>    
			
		  
		
		
	
	
	
		 
		
	
	
	  <!-- <h2>How many people are going?</h2> -->
		  
			<!-- <label for="browser" class="form-label">Choose from the list:</label> -->
			<!-- <input class="form-control" list="persons" name="person" id="person"> -->
			<!-- <datalist id="persons"> -->
			  <!-- <option value="1 person"> -->
			  <!-- <option value="2 people"> -->
			  <!-- <option value="3-4 people"> -->
			  <!-- <option value="4-8 people"> -->
			  <!-- <input type="text" name="year> -->
			
			  
			<!-- </datalist>     -->
			<button type="submit" class="btn btn-primary mt-3">Submit</button>
		  </form>
		</div>
{% endblock %}